@page
@model SpikeTests.UI.Pages.InfoModel
@{
    ViewData["Title"] = "Info Vue";
}

<div class="text-center">
    <div id="mainAppAbout"></div>
</div>

@section scripts {

    <link rel="stylesheet" href="~/css/about.css">
    <script type="module" src="~/js/vueappabout.js"></script>
}