@page
@model SpikeTests.UI.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <div id="mainAppSearch"></div>
</div>

@section scripts{            
    <script type="module" src="~/js/vueappsearch.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/search.css">
}