h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.dark .aside .info-item[data-v-ae7fa66f], .dark .landing .info-item[data-v-ae7fa66f] {
    background-color: var(--vt-c-bg-soft);
}

#info .info-container[data-v-76d4cf95] {
    margin-bottom: 3em;
}

.info-container.platinum[data-v-ae7fa66f] {
    --max-width: 240px;
}

.info-container[data-v-ae7fa66f] {
    --max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(var(--max-width),1fr));
    column-gap: 4px;
}

.info-item[data-v-ae7fa66f] {
    margin: 2px 0;
    background-color: var(--vt-c-white-soft);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
    transition: background-color .2s ease;
    height: calc(var(--max-width) / 2 - 6px);
}

a {
    color: #42b983;
    /*color: inherit;*/
    text-decoration: inherit;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
}

