@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lucene Search</h1>
    <div class="input-group mb-3">        
        <input type="text" class="form-control" id="search" name="search" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        <button type="button" class="btn btn-dark">Search</button>
    </div>
</div>
