@page
@model PrivacyModel
@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="logo"><img src="~/img/lucene-net-color.png" /></div>
    <br />
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="search" name="search" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <br />
    <button type="button" class="btn btn-lg btn-dark col-md-4">Search</button>
</div>
